<ion-content padding>

  <ion-card (click)="updateAPI()">
    <ion-card-header>
      <ion-card-subtitle class="middle-align">Access Token</ion-card-subtitle>
      <ion-card-title class="middle-align">{{display.apiToken}}</ion-card-title>
      <ion-card-title *ngIf="!display.apiToken" class="middle-align">Not Set</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="redirectToSmsToYnab()">
    <ion-card-header>
      <ion-card-subtitle class="middle-align">Interested in auto import via SMS?</ion-card-subtitle>
      <ion-card-title class="middle-align">Check 'SMS to YNAB' app</ion-card-title>
      <img class="smsynab-logo" src="../../assets/logos/smstoynab.png">
    </ion-card-header>
  </ion-card>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to update budgets and settings"
            refreshingText="Refreshing budgets and settings">
    </ion-refresher-content>
  </ion-refresher>

  <div class="helper-buttons">
    <ion-button color="primary" fill="clear" href="https://app.youneedabudget.com/settings/developer">Get Access Token</ion-button>
  </div>
  <div class="helper-buttons">
    <ion-button color="primary" fill="clear" href="https://www.youtube.com/watch?v=0LD69j0rqzI">Help</ion-button>
  </div>
  
</ion-content>
