.donate {
    background-color: green;
    color: white;
    min-height: 30px;
    text-align: center;
}


.donate:hover {
    animation: blink 1s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    animation-iteration-count: 3;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }

    10%, 90% {
        opacity: .9;
    }

    20%, 80% {
        opacity: .8;
    }

    30%, 70% {
        opacity: .7;
    }

    40%, 60% {
        opacity: .6;
    }

    50% {
        opacity: .5;
    }
}