<ion-content overflow-scroll="true">
  <div class="no-content-text" *ngIf="!availableCategories.length">
    <ion-icon class="no-content-icon" name="sad"></ion-icon>
    <div>
      <ion-label>
        No categories were selected! Add one by clicking on the plus icon at the right bottom
      </ion-label>
    </div>
  </div>

  <div>
    <ion-list>
      <div *ngFor="let category of availableCategories">
        <ion-card (click)="presentActionSheet(category)">
          <ion-card-header>
            <ion-card-title>{{category.name}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addCategory()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to see available categories"
            refreshingText="Refreshing selected categories">
    </ion-refresher-content>
  </ion-refresher>


</ion-content>
