<ion-header>
    <ion-toolbar>
        <ion-title>
            Quota
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!--<ion-card class="welcome-card">-->
    <!--<ion-img src="/assets/ynab.svg"></ion-img>-->
    <!--<ion-card-header>-->
    <!--<ion-card-subtitle>SMS Import For YNAB</ion-card-subtitle>-->
    <!--<ion-card-title>SMS Sync</ion-card-title>-->
    <!--</ion-card-header>-->
    <!--<ion-card-content>-->
    <!--<p>Add a template and tap on sync when new SMS arrives</p>-->
    <!--</ion-card-content>-->
    <!--<ion-item>-->
    <!--<ion-button clear item-start>Like</ion-button>-->
    <!--<ion-button clear item-end>Comment</ion-button>-->
    <!--</ion-item>-->
    <!--</ion-card>-->



    <!-- <div class="no-content-text" *ngIf="!syncedMessages.length">
        <ion-icon class="no-content-icon" name="mail"></ion-icon>
        <div>
            <ion-label>
               No recent synced messages. Create a template and click on the sync button.
            </ion-label>
        </div>
    </div> -->



    <ion-list>
        <!--<ion-item >-->
        <!--<ion-ripple-effect></ion-ripple-effect>-->
        <!--<ion-button class="sync-button" color="primary" (click)="checkPermissionAndSync()">-->
        <!--<ion-icon name="sync"></ion-icon>-->
        <!--</ion-button>-->
        <!--</ion-item>-->


        <ion-item *ngIf="totalSyncs">
            <ion-label>Total synced messages</ion-label>
            <ion-badge slot="end">{{totalSyncs}}</ion-badge>
        </ion-item>

        <ion-list-header *ngIf="syncedMessages.length">
            <ion-label>
                Recently Synced Messages
            </ion-label>
        </ion-list-header>


        <!--<ion-card (click)="presentActionSheet(tmpl)">-->
        <!--<ion-card-header>-->
        <!--<ion-card-title>Sodexo</ion-card-title>-->
        <!--</ion-card-header>-->
        <!--<ion-card-content>-->
        <!--INR 87.00 spent on 23 Jun at Flipkart-->
        <!--</ion-card-content>-->
        <!--</ion-card>-->


        <!--<ion-card (click)="presentActionSheet(tmpl)">-->
        <!--<ion-card-header>-->
        <!--<ion-card-title>RBL 6518</ion-card-title>-->
        <!--</ion-card-header>-->
        <!--<ion-card-content>-->
        <!--INR 247.00 spent on 22 Feb at Freshmart-->
        <!--</ion-card-content>-->
        <!--</ion-card>-->

        <div *ngIf="showbuttons">
            <ion-button color="primary" (click)="clearTemplates()">Clear All Templates</ion-button>
            <ion-button color="secondary" (click)="showAllKeys()">Show All Keys</ion-button>
            <!--<ion-button color="primary" (click)="testParse()">Test Message Parse</ion-button>-->
            <ion-button color="dark" (click)="updateLastTime()">Update Time</ion-button>
            <ion-button color="dark" (click)="clearMessages()">Clear Messages</ion-button>
            <ion-button color="dark" (click)="showMessages()">Show/Hide Messages</ion-button>
        </div>


        <table border="1">

            <tr *ngFor="let item of mykeys">
                <td>{{item.key}}</td>
                <td>
                    <ion-button color="danger" (click)="deleteKey(item)">Del</ion-button>
                </td>
                <td>{{item.value}}</td>
            </tr>
        </table>

        <ion-list *ngIf="showMeMessages">
            <!--<ion-item *ngFor="let x of watchedMessages">-->
            <ion-item *ngFor="let x of messages">
                <p>{{x.body}}</p>
            </ion-item>
        </ion-list>

        <ion-card *ngFor="let x of quotaData">
            <div (click)="flipCard(x)" [ngClass]="{'flipped': flipped[x.id]}" class="flipcard">
                <div class="front" *ngIf="!flipped[x.id]">
                    <ion-card-header>
                        <ion-card-title>
                            {{x?.name}}
                        </ion-card-title>
                        <ion-card-subtitle>
                            <p>Budgeted: {{x?.budgeted}}</p>
                            <p>Balance: {{x?.balance}}</p>
                            <div style="background-color:lightgrey; border-radius:5px">
                                <div [ngStyle]="{'width': x.width, 'background-color': getColor(x)}"
                                    style="height:16px; background-image: linear-gradient(to bottom, rgba(255, 255, 0, 0.3), rgba(255, 255, 0, 0.05));border-radius:5px">
                                </div>
                            </div>
                        </ion-card-subtitle>
                    </ion-card-header>
                </div>
                <div class="back" *ngIf="flipped[x.id]">
                    <ion-card-header>
                        <div style="margin-bottom: 12px;">
                                <span style="background-color: #ffc1079e;
                                border-radius: 7px;
                                width: fit-content;
                                padding: 5px;">
                                    <ion-icon name="menu" style="color:#d09c00;"></ion-icon>
                            </span>
                        Rs.56 spent on average per transaction
                        </div>
                  
                        <div style="margin-bottom: 12px;">
                                <span style="background-color: #ff928ab5;
                                border-radius: 7px;
                                width: fit-content;
                                padding: 5px">
                                    <ion-icon name="arrow-round-up" style="color:#da0f00;"></ion-icon>
                                </span>
                                Rs.250 on 25th for Zomato

                        </div>
                     

                        <div style="margin-bottom: 12px;">
                                <span style="background-color: #abffb6;
                                border-radius: 7px;
                                width: fit-content;
                                padding: 5px">
                                    <ion-icon name="arrow-round-down" style="color:#05b716;"></ion-icon>
                                </span>
                                Rs.124 on 12th for Swiggy
                        </div>
                     
                        <p>This is based on 22 transactions</p>
                    </ion-card-header>
                </div>
            </div>
        </ion-card>

    </ion-list>

    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="checkConnection()">
            <ion-icon size="large" name="sync"></ion-icon>
        </ion-fab-button>
    </ion-fab> -->

    <!--<ion-fab vertical="bottom" horizontal="start" slot="fixed">-->
    <!--<ion-fab-button (click)="showConfig()">-->
    <!--<ion-icon name="hammer"></ion-icon>-->
    <!--</ion-fab-button>-->
    <!--</ion-fab>-->

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to see updated balances"
            refreshingText="Refreshing category balances">
        </ion-refresher-content>
    </ion-refresher>

</ion-content>