<ion-content>

    <div class="no-content-text" *ngIf="!quotaData.length">
        <ion-icon class="no-content-icon" name="alert"></ion-icon>
        <div>
          <ion-label>
            No categories were added!
          </ion-label>
        </div>
      </div>
      
    <ion-list>
        <div *ngIf="showbuttons">
            <ion-button color="primary" (click)="clearTemplates()">Clear All Templates</ion-button>
            <ion-button color="secondary" (click)="showAllKeys()">Show All Keys</ion-button>
            <!--<ion-button color="primary" (click)="testParse()">Test Message Parse</ion-button>-->
            <ion-button color="dark" (click)="updateLastTime()">Update Time</ion-button>
        </div>

        <table border="1">
            <tr *ngFor="let item of mykeys">
                <td>{{item.key}}</td>
                <td>
                    <ion-button color="danger" (click)="deleteKey(item)">Del</ion-button>
                </td>
                <td>{{item.value}}</td>
            </tr>
        </table>

        <ion-card *ngFor="let x of quotaData">
            <div (click)="flipCard(x)" [ngClass]="{'flipped': flipped[x.id]}" class="flipcard">
                <div class="front" *ngIf="!flipped[x.id]">
                    <ion-card-header>
                        <ion-card-title>
                            {{x?.name}}
                        </ion-card-title>
                        <ion-card-subtitle>
                            <ion-row>
                                <ion-col>
                                    <!-- <p class="center-align card-price" style="min-height: 2em; padding-top:.375em">{{x?.budgeted}}</p> -->
                                    <p class="center-align card-price" style="min-height: 2em; padding-top:.375em">
                                        {{x?.budgeted_edited}}</p>
                                    <div class="center-align card-subtext">Budgeted</div>
                                </ion-col>
                                <ion-col size="8">
                                    <!-- <p class="center-align card-price" style="font-size: 2em;">{{x?.balance}}</p> -->
                                    <p class="center-align card-price" style="font-size: 2em;">{{x?.balance_edited}}</p>
                                    <div class="center-align card-subtext">Balance</div>
                                </ion-col>
                            </ion-row>
                            <div style="background-color:lightgrey; border-radius:5px">
                                <div [ngStyle]="{'width': x.width, 'background-color': getColor(x)}"
                                    style="height:16px; background-image: linear-gradient(to bottom, rgba(255, 255, 0, 0.3), rgba(255, 255, 0, 0.05));border-radius:5px">
                                </div>
                            </div>
                        </ion-card-subtitle>
                    </ion-card-header>
                </div>
                <div class="back" *ngIf="flipped[x.id]">
                    <ion-card-header>
                        <!-- <div style="margin-bottom: 12px;">
                                <span style="background-color: #fdddad;
                                border-radius: 7px;
                                width: fit-content;
                                padding: 5px;">
                                    <ion-icon name="menu" style="color:#d09c00;"></ion-icon>
                            </span>
                        Rs.56 spent on average per transaction
                        </div>
                  
                        <div style="margin-bottom: 12px;">
                                <span style="background-color: #f5c3d4;
                                border-radius: 7px;
                                width: fit-content;
                                padding: 5px">
                                    <ion-icon name="arrow-round-up" style="color:#da0f00;"></ion-icon>
                                </span>
                                Rs.250 on 25th for Zomato

                        </div>
                     

                        <div style="margin-bottom: 12px;">
                                <span style="background-color: #c7ffce;
                                border-radius: 7px;
                                width: fit-content;
                                padding: 5px">
                                    <ion-icon name="arrow-round-down" style="color:#05b716;"></ion-icon>
                                </span>
                                Rs.124 on 12th for Swiggy
                        </div>
                     
                        <p>This is based on 22 transactions</p> -->
                        <div>Expect meta data in the next version.</div>
                        <div>Planning to add highest, lowest and average.</div>
                    </ion-card-header>
                </div>
            </div>
        </ion-card>

    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="getQuotas()">
            <ion-icon size="large" name="sync"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <!--<ion-fab vertical="bottom" horizontal="start" slot="fixed">-->
    <!--<ion-fab-button (click)="showConfig()">-->
    <!--<ion-icon name="hammer"></ion-icon>-->
    <!--</ion-fab-button>-->
    <!--</ion-fab>-->

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to see updated balances"
            refreshingText="Refreshing category balances">
        </ion-refresher-content>
    </ion-refresher>

</ion-content>