<ion-header>
  <ion-toolbar>
    <ion-title>Choose the category</ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card (click)="setBudget()">
    <ion-card-header>
      <ion-card-subtitle class="middle-align">Budget</ion-card-subtitle>
      <ion-card-title class="middle-align">{{display.budget}}</ion-card-title>
      <ion-card-title *ngIf="!display.budget" class="middle-align">Not Set</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="setCategory()">
    <ion-card-header>
      <ion-card-subtitle class="middle-align">Category</ion-card-subtitle>
      <ion-card-title class="middle-align">{{display.category}}</ion-card-title>
      <ion-card-title *ngIf="!display.category" class="middle-align">Not Set</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="setSubCategory()">
    <ion-card-header>
      <ion-card-subtitle class="middle-align">Sub-category</ion-card-subtitle>
      <ion-card-title class="middle-align">{{display.subCategory}}</ion-card-title>
      <ion-card-title *ngIf="!display.subCategory" class="middle-align">Not Set</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>