.message-date{
  font-size: 10px;
  float: right;
}

.long-button{
  width: 100%;
}

.middle-align{
  text-align: center;
}

ion-card{
  --background: #fff;
}

.white-color{
  --background: #fff
}

.helper-buttons{
  position: fixed;
  bottom: 30px;
}